
/* start of sabad */

.sidebar {
    width: 220px;
    margin-bottom: 20px;
    position: fixed;
    left: 200px;
    top: 10%;
    background-color: #F4F5F6;
    border-radius:9px 9px;
    border:4px solid #0078CC;
}
.sidebar .sabad{
    margin: 5px;
    float: right;
    background: #fff6f4!important;

}
.sidebar h4 {
    text-align: center;
    background-color: #0078CC;

}
.sidebar a {
    cursor:pointer;
    padding: 5px;
    margin: 7px;
    background: #7c55ff;
    float: left;
    background: #fff6f4!important;

}
/* end sidebar Style  */



